
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$gray: #857f7f;
$lightGray: #939292;
$darkGray: #787878;
$darkerGray: #524d4d;
$white: #fefffc;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}